%section{:class => "social_links_sidebar"}
  = image_tag("EdmoreMoyo.jpg")
  %h3 Stalk_Me_On
  %nav
    %ul
      %li
        = image_tag("icons/linkedin_16.png")
        = link_to "LinkedIn", "http://za.linkedin.com/in/edmoremoyo", :class => "popup"
      %li
        = image_tag("icons/flickr_16.png")
        = link_to "Flickr", "http://www.flickr.com/photos/etmoyo", :class => "popup"
      %li
        = image_tag("icons/twitter_16.png")
        = link_to "Twitter", "http://www.twitter.com/etmoyo", :class => "popup"
