!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    /[if lt IE 9]
      <script type="text/javascript">
      document.createElement("nav" );
      document.createElement("header" );
      document.createElement("footer" );
      document.createElement("section" );
      document.createElement("article" );
      </script>
    %title edmore_moyo
    %meta{:name => "description", :content => "Edmore Moyo Personal website and blog, Ruby, Rails Developer"}
    %meta{:name => "keywords", :content => "edmore moyo, ruby, rails, TDD, BDD, cape town, south africa"}
    = stylesheet_link_tag "style", "formtastic", "formtastic_changes", "jquery.tweet"
    = favicon_link_tag
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.tweet.js"
    = csrf_meta_tag
  %body
    = yield
